* {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 156px;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
